.footer {
  background-color: rgba(21, 18, 243, 0.8);
  color: white;
  text-align: center;
  padding: 1px 0;
  width: 100%;
  position: absolute;
  bottom: 0;

  p {
    font-size: 1rem;

    a {
      text-decoration: none;
      color: #46b3e6;
    }

    a:hover {
      color: #dff6f0;
    }
  }
}
