.container{
    display: grid;
    grid-template-columns: repeat(4, 2fr);

    @media only screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, 3fr);
    }

    @media only screen and (max-width: 700px) {
        grid-template-columns: 3fr;
    }
}