@import url('https://fonts.googleapis.com/css?family=Alata|Permanent+Marker&display=swap');

body {
  margin: 0;
  font-family: 'Alata', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(85, 85, 85, 0.212);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

